:root{
    /* --backgraund_fon:#FFFBF3; */
    --color_btn1: #FCC647;
    --color_btn2: #F9A755;
    --color_btn3: #FFC12F;
    --color_btn4: #EF9737;
    --color_btn5: #FFEFC8;
    --color_p1: #667085;
    --color_FFF: #FFF;
    --color_price: #3C3C3C;
    --color_h2_1:#535353;
    --color_footer: #232233;
    --color_link_articl: #E6E6E6;
    --color_svg: #FEB918;
    --color_btn6: #F4B41B;
}

* {
    font-family: 'Inter'
}

h1 {
    color: var(--color_price);
}

body {
    margin: 0;
}

/* Navigation bar */

.site_name {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--color_price);
}

.site_name span {
    color: var(--color_btn1);
}

.nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link_tag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--color_price);
    text-decoration: none;
    margin: 0 2vw;
}

.link_tag:hover {
    color: var(--color_btn1);
    text-decoration: underline;
}

/* First Block */

.info_block {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10vh 0vw 0vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_block_btn {
    border-radius: 7px;
    border-width: 1px;
    border-style: none;
    border-color: var(--color_btn5);
    background-color: var(--color_btn5);
    color: var(--color_btn6);
    padding: 0.75vh 0.75vw;
    text-decoration: none;
    font-weight: 500;
}

.info_block_div {
    width: auto;
    height: auto;
    margin-right: 15vw;
}

.info_block_div h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    margin: 2vh 0vw;
}

.info_block_div p {
    color: black;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 6vh;
}

.info_block_img {
    width: auto;
    height: auto;
}

/* Second Block */

.work_block {
    padding: 10vh 10vw 0vh 10vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 30px;
    text-align: center;
}

.work_block h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color_price);
    font-weight: bold;
    font-size: 36px;
}

.work_block h3 {
    color: var(--color_price);
    font-weight: 600;
}

.work_block p {
    color: var(--color_p1);
}

.work_block_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10vh 25vw;
    width: 100vw;
}

.work_block_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 1vw;
    width: 20vw;
}

.work_block_img img {
    margin-bottom: 5vh;
}

.work_block_img p {
    margin-top: 0;
}

/* Third Block */

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card_block {
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 15.5vw;
    line-height: 20px;
    border: 1px solid var(--color_link_articl);
    border-radius: 10px;
    margin: 0.68vw;
}

.card_block:hover {
    border-color: var(--color_btn2);
}

.card_block article {
    display: flex;
    justify-content: space-between;
}

.card_block h3 {
    margin-top: 0.5vh;
}

.card_block p {
    font-size: 12px;
    margin-top: 0vh;
    margin-bottom: 3vh;
}

.card_block_img {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_block_stars {
    width: 7vw;
}

/* Fourth Block */



/* Fifth Block */

.app_block_div {
    width: auto;
    height: auto;
    margin-right: 15vw;
}

.app_block_div h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    margin: 3vh 0vw;
}

.app_block_div p {
    color: var(--color_p1);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 6vh;
}

/* Buttons */

.btn_var1 {
    display: flex;
    border-color: var(--color_btn3);
    border-radius: 30px;
    border-style: none;
    border-width: 1px;
    background-color: var(--color_btn3);
    min-width: 15%;
    max-width: 15%;
    min-height: auto;
    padding: 15px;
    text-decoration: none;
    color: var(--color_FFF);
}

.btn_var2 {
    display: flex;
    border-color: var(--color_FFF);
    border-radius: 30px;
    border-style: none;
    border-width: 1px;
    background-color: var(--color_FFF);
    min-width: 50%;
    min-height: auto;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--color_price);
    font-size: 17px;
    font-weight: 500;
}

.btn_var2 img {
    margin:  0 1vw;
}

.btn_var3 {
    border-radius: 7px;
    border-width: 1px;
    border-style: none;
    border-color: var(--color_btn1);
    background-color: var(--color_btn1);
    color: var(--color_FFF);
    padding: 1.5vh 1.5vw;
    text-decoration: none;
    font-weight: 500;
}

/* Footer */

.links_to{
    left: 28%;
    transform: translate(-10%, 1960%);
    width: 61vw;
    height: 12vw;  
    border-radius: 30px;
    background: var(--color_FFF);
    display: flex;
    position:absolute;
    bottom: 31vw;
    -webkit-box-shadow: -1px 8px 152px 30px rgba(0,0,0,0.34);
    -moz-box-shadow: -1px 8px 152px 30px rgba(0,0,0,0.34);
    box-shadow: -1px 8px 152px 30px rgba(0,0,0,0.34);
}

.links_to article{
    border-right: 4px solid var(--color_link_articl);
    align-items: center;
    display: flex;
}

.links_to article:last-child{
    border-right: none;
}

.links_to img{
    margin-left: 2vw;
    width: 8vw;
}

.links_to p{
    width: 20vw;
    color: var(--color_footer);
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 600;
    line-height: 133.929%;
    margin-left: 1vw;
}



.footer_block {
    background-color: var(--color_footer);
    padding: 30vh 5vw 0 5vw;
    display: flex;
    flex-direction: column;
}

.footer_block_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer_block_container p {
    line-height: 27px;
}

.footer_block_container ul {
    list-style: none;
}

.footer_block_container li {
    margin-bottom: 1vh;
}

.footer_block_container li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--color_FFF);
    text-decoration: none;
}

.footer_block_div {
    min-width: 22vw;
    max-width: 22vw;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    height: auto;
}

.footer_block_div p {
    margin-bottom: 3vh;
}

.footer_block_div_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_block_div a:hover {
    filter: invert(62%) sepia(84%) saturate(458%) hue-rotate(353deg) brightness(155%) contrast(106%);
}

.footer_block_div_mail {
    display: flex;
    align-items: center;
}

.footer_block_div_mail input {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-width: 0;
}

.footer_block_div_mail button {
    display: flex;
    align-items: center;
    padding: 3px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-width: 0;
}

.footer_copyright {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}















footer h4 {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--color_FFF);
}

footer h4 span {
    color: var(--color_btn1);
}

footer p {
    font-size: 14px;
    color: var(--color_FFF);
}

